<!DOCTYPE html>
<html xmlns:th="http://wwww.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Enviar parámetros del request HTTP GET</title>
</head>
<body>
<h1>Enviar parámetros del request HTTP GET</h1>
<ul>
	<li><a th:href="@{/params/string(texto='hola')}">/params/string?texto=hola</a></li>
	<li><a th:href="@{/params/mix-params(saludo='Hola Mundo!!', numero = 7)}">/params/mix-params?saludo=Hola%20Mundo!!&numero=7</a></li>
	<li><a th:href="@{/params/mix-paramsRequest(saludo='Hola Mundo!!', numero = A)}">/params/mix-paramsRequest?saludo=Hola%20Mundo!!&numero= A</a></li>
	
</ul>


</body>
</html>